// Base configuration for the NGS pipelines

params {
    verbose = true

    species = 'mm10'
    outdir = 'results'

    // path to data
    resourceDir = "/Volumes/Jianhong_Ou/dataByName/igenome/UCSC/${species}"

    // path to genome to use
    params.genome = "${resourceDir}/Sequence/WholeGenomeFasta/genome.fa"
    // path to indices to use
    params.indexBowtie2 = "${resourceDir}/Sequence/Bowtie2Index/genome"

    // threads / CPU usage
    fastqc {
        cpus = 2
        path = "fastqc"
    }

    // Configuration for je.
    je {
        cpus = 2
	      MIN_BASE_QUALITY = 20
	      path = "je"
    }

    // Configuration for trimmomatic.
    trimmomatic {
        cpus = 8
        adapters = "adapters/Mintv3_1-1.fa"
        path = "trimmomatic"
    }

    // Configuration of BWA mapping (includes piped samtools called)
    bwa {
        cpus = 8
        path = "bwa"
        index = "${resourceDir}/Sequence/BWAIndex/genome.fa"
    }
    
    // Configuration of samtools 
    samtools {
        path = "/usr/local/bin/samtools"
    }
    
    // Configuration of HOMER 
    homer {
        cpus = 8
        makeTagDirectory = "makeTagDirectory"
        makeUCSCfile = "makeUCSCfile"
        findPeaks = "findPeaks"
        annotatePeaks = "annotatePeaks.pl"
        pos2bed = "pos2bed.pl"
    }
}
