// Base configuration for the NGS pipelines

params {
    verbose = true

    species = 'mm10'
    outdir = 'results'
    inputs = null
    trim = null
    findPeaks = null
    
    cpus = Runtime.getRuntime().availableProcessors() - 1

    // path to data
    resourceDir = "/Volumes/Jianhong_Ou/dataByName/igenome/UCSC/${species}"

    // path to genome to use
    params.genome = "${resourceDir}/Sequence/WholeGenomeFasta/genome.fa"
    // path to indices to use
    params.indexBowtie2 = "${resourceDir}/Sequence/Bowtie2Index/genome"

    // threads / CPU usage
    fastqc {
        cpus = "${cpus}"
        path = "fastqc"
    }

    // Configuration for je.
    je {
        cpus = "${cpus}"
	      MIN_BASE_QUALITY = 20
	      path = "je"
    }

    // Configuration for trimmomatic.
    trimmomatic {
        cpus = "${cpus}"
        adapters = "adapters/Mintv3_1-1.fa"
        path = "trimmomatic"
        options = "-phred33 ILLUMINACLIP:${params.trimmomatic.adapters}:2:30:10 LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:18"
    }

    // Configuration of BWA mapping (includes piped samtools called)
    bwa {
        cpus = "${cpus}"
        path = "bwa"
        index = "${resourceDir}/Sequence/BWAIndex/genome.fa"
    }
    
    // Configuration of samtools 
    samtools {
        path = "/usr/local/bin/samtools"
    }
    
    // Configuration of HOMER 
    homer {
        cpus = "${cpus}"
        makeTagDirectory = "makeTagDirectory"
        makeUCSCfile = "makeUCSCfile"
        findPeaks = "findPeaks"
        findPeaksOptions = "-region -size 1000 -minDist 2000 -C 0 -L 50"
        annotatePeaks = "annotatePeaks.pl"
        pos2bed = "pos2bed.pl"
    }
    
    // Configuration of ChIPQC
    chipqc {
      cpus = "${cpus}"
      annotation = "${species}"
      reportFolder = "ChIPQCreport"
      samples = "experiment.csv"
    }
}
