/*
 * --------------------------------------------------
 *  Config file for version
 * --------------------------------------------------
 */

manifest {
  name = 'QiuBio Pipeline/MintChIP'
  author = 'Jianhong'
  homePage = 'https://github.com/jianhong/MintChIP'
  description = 'MintChIP analysis pipeline.'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.07.1'
  version = '0.0.2dev'
}
