/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/chipseq -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 12.h

  // Input data
  input = 'https://raw.githubusercontent.com/jianhong/MintChIP/dev/testdata/design.csv'
  barcode = 'https://raw.githubusercontent.com/jianhong/MintChIP/dev/testdata/bar.txt'

  // Genome references
  //fasta = 'ftp://ftp.ensembl.org/pub/release-102/fasta/mus_musculus/dna/Mus_musculus.GRCm38.dna.chromosome.1.fa.gz'
  //gtf = 'ftp://ftp.ensembl.org/pub/release-102/gtf/mus_musculus/Mus_musculus.GRCm38.102.chr.gtf.gz'
  genome = "GRCm38"

  // Not mandatory but permits the pipeline to run through peak-calling steps
  macs_gsize = 1.2e7

  // For speed to avoid CI time-out
  fingerprint_bins = 100
}
