/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/chipseq -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 12.h

  // Input data
  input = 'https://raw.githubusercontent.com/jianhong/MintChIP/dev/testdata/design.csv'
  barcode = 'https://raw.githubusercontent.com/jianhong/MintChIP/dev/testdata/bar.txt'

  // Genome references
  genome = 'GRCm38'

  // For speed to avoid CI time-out
  fingerprint_bins = 100
}
